@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

.container {
  display: flex;
  height: 100vh;
}

.headline {
  width: 50%;
  position: relative;
  background-color: #5200ff;
}

.container img {
  height: 100%;
  width: 100%;
  opacity: 0.3;
}

.text-wrapper {
  justify-content: center;
  text-align: right;
  position: absolute;
  color: #ffffff;
  top: 25%;
  left: 25%;
  right: 25%;
}

.text-wrapper h1 {
  font-family: "Bebas Neue";
  font-size: 4rem;
  font-weight: normal;
}

.container2 {
  position: relative;
  font-weight: bolder;

  width: 50%;
}

form {
  position: absolute;
  top: 25%;
  left: 25%;
  right: 25%;
  font-weight: bolder;
}

label {
  display: block;
  text-align: left;
  margin-bottom: 1rem;
}

input {
  background-color: #ededed;
  border-color: #c7c7c7;
  width: 100%;
  height: 2rem;
  margin-bottom: 1rem;
}

button {
  color: #ffffff;
  background-color: #5200ff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 8rem;
  margin-top: 1rem;
  justify-content: left;
  position: relative;
  font-weight: bolder;
}

@media (max-width: 770px) {
  .text-wrapper {
    position: absolute;
    top: 20%;
    left: 25%;
    right: 25%;
    color: #fff;
    text-align: center;
    width: 60vw;
  }

  .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .headline {
    text-align: center;
    width: 100%;
  }

  .container2 {
    width: 100%;
  }

  .form {
    display: flex;

    margin-top: 4rem;
  }
}

@media (max-width: 510px) {
  .text-wrapper {
    position: absolute;
    top: 10%;
    left: 20%;
    right: 10%;
  }

  .headline h1 {
    font-size: 3rem;
  }

  .headline p {
    font-size: 1.25rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .headline {
    text-align: center;
    width: 100%;
    height: 75%;
  }

  .container2 {
    width: 100%;
  }

  form {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }

  input {
    width: 100%;
  }

  button {
    width: 100%;
    margin-bottom: 1rem;
  }
}
